<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ site.title | escape }} &middot; {{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
	<script type="text/javascript" src="/design-brief//js/WOW.js"></script>
	<script type="text/javascript">new WOW().init();</script>
    <link rel="stylesheet" type="text/css" href="/design-brief//css/style.css">
    <script type="text/javascript" src="/design-brief//js/WOW.js"></script>
    <script type="text/javascript">new WOW().init();</script>
    <script type="text/javascript" src="/design-brief//js/jQuery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
    <script type="text/javascript" src="/design-brief//js/scripts.js"></script>
    <script type="text/javascript" src="/design-brief//js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/design-brief//js/app.js"></script>
    <script type="text/javascript" src="/design-brief//js/main.ctrl.js"></script>
</head>
